
#banner_image{
			padding-top: 75px;
			padding-bottom: 55px;
			text-align: center;
			color: #f8f8f8;
			background-image: url(bg_01.jpg);
			background-size: cover;
			}

#banner_content{
				position: relative;
				padding-top: 6%;
				padding-bottom: 6%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 12%;
				margin-bottom: 12%;
				background-color: rgba(0, 0, 0, 0.7);
				max-width: 660px;
				text-align: center;
				}